body {
    font-family: Arial, sans-serif;
}

#ventanaEmergente {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#contenido {
    text-align: center;
}

#cerrarBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

