<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Editar Contraseña</h2>

<form action="{{ url_for('user.editar_password')}}" method="post">
    <label for="password1">Ingrese contraseña actual:</label><br>
    <input type="password" id="password1" name="password1" required><br><br>

    <label for="password2">Ingrese nueva contraseña:</label><br>
    <input type="password" id="password2" name="password2" required><br><br>
  
    <label for="password3">Reingrese nueva contraseña:</label><br>
    <input type="password" id="password3" name="password3" required><br><br>
  
    <p>{{ error_message }}</p>

  <input type="submit" value="Guardar">
</form>
</body>
</html>