<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Iniciar Sesión</h2>

<form action="{{ url_for('user.nuevo_password',token=token)}}" method="post">
    <label for="password">Ingrese nueva contraseña:</label><br>
    <input type="password" id="password" name="password" required><br><br>
  
  <label for="password1">Reingrese contraseña:</label><br>
  <input type="password" id="password1" name="password1" required><br><br>
  
  <input type="submit" value="Guardar">
</form>
</body>
</html>